{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew bundle --file=/dev/stdin <<EOF

brew "git"
brew "git-lfs"
brew "gcc"
brew "fzf"
brew "chezmoi"
brew "clang-format"
brew "coreutils"
brew "gawk"
brew "htop"
brew "imagemagick"
brew "ripgrep"
brew "tmux"
brew "uv"
brew "zsh"
brew "diff-so-fancy"
brew "zoxide"

cask "ghostty"
EOF

{{ end -}}
